$very-dark-blue: hsl(233, 47%, 7%);
$dark-desaturated: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
$slightly-transparent-white-1: hsla(0, 0%, 100%, 0.6);

.attribution {
  font-size: 11px;
  text-align: center;
  color: $white;

  a {
    color: $soft-violet;
  }
}

.card {
  position: relative;
}

.cardContent {
  width: 50%;
  padding: 4rem 8rem 2rem 4rem;
  background-color: $dark-desaturated;
  color: $white;
}

.imageContainer {
  position: relative;
}

.mask::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $soft-violet;
  z-index: 2;
  opacity: 0.5;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  background-color: $very-dark-blue;
}

.description {
  font-size: 0.83rem;
  color: $slightly-transparent-white;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;

  span {
    color: $soft-violet;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.stats {
  font-size: 1.3rem;
  display: flex;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .card {
    flex-direction: column-reverse;
    margin-bottom: 2rem;
  }

  .cardContent {
    text-align: center;
    padding: 2rem 1.5rem;
    width: 100%;
  }

  .cardMedia {
    width: 100%;
  }

  .container {
    padding: 6rem 0.5rem 0.5rem;
    height: 100%;
  }

  .stats {
    flex-direction: column;
  }
}
